project:
  type: website
  output-dir: docs

website:
  title: "Golden Huang -- STAT 386 Portfolio"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: posts.qmd
        text: Blog
      - href: about.qmd
        text: About

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
